<div style="padding-top: 12px ; padding-left: 12px ;border-bottom: 1px solid #dee2e6;
padding-top: 5px;padding-right: 16px;padding-bottom: 5px;padding-left: 16px;background-color: white;">
  <div style="padding-top: 6px ; padding-left: 12px ;">
    <div style="right: inherit;">
      <label style="font-size: x-large; position: relative;">Contacts</label>
    </div>
    <div style="position: absolute;right: 20px; width: 720px">
      <div class="input-group">
        <input class="form-control border-end-0 border" type="search" placeholder="Search..." id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                <i class="bi bi-search"></i>
            </button>
        </span>
      </div>
      <!-- <i class="bi bi-search"></i> -->
    </div>
  </div>
  <div style="padding-top: 12px;padding-left: 19px;">
    <button type="button" class="btn btn-outline-primary" routerLink="/add-contact">Create</button>
  </div>
</div>

<div style="max-width: 400px; padding: 1em; left: 10;">
  <mat-card routerLink="/detail-contact">
    <mat-card-header>
      <mat-card-title>Codeible</mat-card-title>
      <mat-card-subtitle>Codeible.com</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>